<div class="posts row">
		
		<% @posts.each do |post| %>
<div class="singlepost imagepost">
	<div class="useravatar large-2 columns">
		<%= image_tag post.user.avatar.url(:thumb), class: 'profile small' %>  				
	</div>
	<div class="postcontent large-10 columns">
		<%= image_tag post.avatar.url(), class: 'postimage' %>
		<%= post.content %>
		<div class="auther"><%= post.user.name %></div>
		<div class="posttags">
			Tags: <%= raw post.tag_list.map {|t| link_to "#"+t, tag_path(t)}.join(', ') %>
		</div>
		<div class="postshare postmeta row">
			<div class="postdate large-2 columns">
				<%=  time_ago_in_words(post.created_at)%> ago
			</div>
			<div class="lovepost large-1 columns"><div class="loveicon left"></div><div class="lovecount left"><%= post.comments.count %></div></div>
			<div class="commentpost large-1 columns"><div class="commenticon left"></div><div class="commentcount left"><%= post.comments.count %></div></div>
			<div class="sharepost large-1 columns"><div class="shareicon left"></div><div class="sharecount left">60</div></div>
			<div class="large-1 columns"></div>
		</div>

	</div>				
</div>			
<% end %>
		
	</div>		